<h1>User info</h1>
<%= form_with model: @user do |f| %>
  <h4>Name</h4>
  <%= f.text_field :name %>


  <div class="form-group">
    <%= f.label :name, "Image" %><br>
    <%= f.file_field :prifile_image %>
  </div>
  <h4>Introduction</h4>
  <%= f.text_area :body %><br>
  <%= f.submit 'Update User', class:"btn btn-secondary" %>

<% end %>