<h1>Books#index</h1>
<%= form_with model: @book do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>

  <h4>Opinion</h4>
  <%= f.text_field :body %>


  <%= f.submit 'Create Book' %>

<% end %>
<% @books.each do |book| %>

  <p>Users info</p>
  <p>投稿ユーザー画像:<%= image_tag post_image.user.get_profile_image(100,100) %></p>
  <p>New book</p>
  <p>Users</p>
  <p>Find me in app/views/books/index.html.erb</p>
<% end %>
