
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render "layouts/userinfo", user: @user %>
      <%= render "layouts/newbook", book: @books %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= link_to user_path(@book.id) do %>
            <%= image_tag @book.user.get_profile_image(100, 100) %><br>
            <%= @book.user.name %>
            <% end %>
            </td>
            <td><%= link_to @book.title, book_path(@book) %></td>
            <td><%= @book.body %></td>
             <% if @user.id == current_user.id %>
        <%= link_to edit_user_path(current_user.id) do %>
            <td><%= link_to "Edit", edit_book_path(@book), class: "btn btn-sm btn-success" %></td>
            <td><%= link_to "Destroy", book_path, method: :delete, data: { confirm: "本当に消しますか？" }, class: "btn btn-sm btn-danger" %></td>
        <% end %>
        <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

